/** @format */
.container {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  width: inherit;
}
.cardBody {
  border: 1px solid #a6a6a6;
  position: relative;
  margin: 16px auto;
  text-align: center;
  border-radius: 0px 0px 30px 30px;
  box-shadow: inset -1px -7px 20px 4px #a6a6a6;
}
.cardImage {
  width: 100%;
  height: 5vh;
  object-fit: cover;
}
.fixCardBody {
  padding: 0px;
  margin: 12px auto 0px auto;
  height: 6vh;
  width: 12vw;
  word-break: break-word;
}
@media only screen and (min-width: 200px) and (max-width: 1750px) {
  .cardBody {
    padding: 0px;
  }
  .fixCardBody {
    font-size: 10px;
  }
}
