/** @format */

.App {
  text-align: center;
}

.App-logo {
  float: right;
  height: 5vh;
  pointer-events: none;
  display: flex;
  position: absolute;
  left: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  overflow: hidden;
  box-shadow: inset -1px -1px 110px 0px #1a202c;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
